<!-- ----------------- -->
<!-- console container -->
<!-- ----------------- -->

<div id="console">
  <h2>Console</h2>
  <div class="log_container"></div>
</div>



<!-- ---------------------- -->
<!-- unscrollable container -->
<!-- ---------------------- -->

<div class="main_container">
  
  <!-- top -->
  <div id="top_container">
    <div id="target_with_top_position" class="target">Top</div>
    <%= render_bubble :target_with_top_position, :position => "top" do %>
      <div>This uses block notation instead of the :inline option.</div>
    <% end %>
  </div>
  
  <!-- left -->
  <div id="left_container">
    <div id="target_with_left_position" class="target">Left</div>
    <%= render_bubble :target_with_left_position, :class => :help_bubble, :position => "left", :inline => "<div>This example uses inline markup.</div>" %>
  </div>
  
</div>



<!-- -------------------- -->
<!-- scrollable container -->
<!-- -------------------- -->

<div class="main_container scrollable">
  <div id="scrolling_container">
  
    <!-- bottom -->
    <div id="bottom_container">
      <div id="target_with_bottom_position" class="target">Bottom</div>
      <select id="selector_for_bottom_position">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      <%= render_bubble :target_with_bottom_position, :class => :error_bubble, :position => "bottom", :text => "This example uses simple text." %>
    </div>
    
    <!-- right -->
    <div id="right_container">
      <input type="text" id="target_with_right_position">
      <%= render_bubble :target_with_right_position, 
                        :class   => :error_bubble, :position => "right", :event_names => ["focus"], 
                        :partial => "partial_example", :locals => { :name => "John" } 
      %>
    </div>
    
  </div>
</div>